<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitriseExampleV1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BitriseExampleV2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60A3292C1EAA2748003911F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60A329401EAA2748003911F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60A3294B1EAA2748003911F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60A3295E1EAA278F003911F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60A3297E1EAA327C003911F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
